@import "../../../styles/variables.module.scss";
.card{
  padding: $gutter;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: lighten($sos-primary, 20);
  font-size: 24px;
}