$extra-Small-size: 374px;
$xSmall-size: 600px;
$small-size: 768px;
$medium-size: 960px;
$large-size: 1200px;
$xLarge-size: 1400px;
$xXLarge-size: 1700px;
$dark-gray-color: #444444;
$medium-gray-color: #666666;
$light-gray-color: #888888;
$lighter-gray-color: #A1A1A1;
$lightest-gray-color: #EEEEEE;
$secondary: #f9f9f9;
$red-color: #FA163F;


 $sos-primary:#1158A7;


$gutter: 16px;
$doubleGutter: 32px;
$gutterNeg: -16px;
$halfGutter: 8px;
$quarterGutter: 4px;
$halfGutterNeg: -8px;
$tripleGutter: 64px;

$title1-fz: 32px;
$title2-fz: 26px;
$title3-fz: 22px;
$title4-fz: 18px;
$title5-fz: 16px;
$title6-fz: 14px;

$order-refunded: #FF7B54;
$order-canceled: #EB3858;
$order-pending: #DCB93C;
$order-processing: #00B8FF;
$order-inventory: #A7AF74;
$order-ready: #5AAF9B;
$order-sent: #328C6E;
$order-completed: #00704A;

$order-payment-paid: #00704A;
$order-payment-unpaid: #F4A55D;
$order-payment-incomplete: #FF7B54;
$order-payment-pending: #DCB93C;
$order-payment-credit: #A7AF74;
$order-payment-refunded: #EB3858;

$ticket-closed: #328C6E;
$ticket-pending: #CABCAE;
$ticket-customer: #69B7D6;
$ticket-processing: #E99076;

$gray-bg-1: #F5F5F5;
$gray-bg-2: #EEEEEE;

$checkbox-default-border-color: #AAAAAA;

$border-radius-2:15px;